.Rproj.user
.Rhistory
.RData
*.Rproj

.DS_Store

data/*/*
!data/process/*
!data/metadata/
!data/raw/Raw_hplc_files
!data/raw/scfa_plate_layouts
!README.md

*.fasta


*head.batch
tail.batch
mothur*logfile
*temp*
*.docx
*.pbs*
*.fastq
*.sra
*.RData

pbs_scripts/
.nfs*
