.Rproj.user
.Rhistory
.RData
*.Rproj

.DS_Store

data/*/*
!data/process/*
!data/metadata/*
!data/default_hyperparameters/*
!data/raw/Raw_hplc_files
!data/raw/scfa_plate_layouts
!README.md

*.fasta

data/references/README.md

mothur*logfile
*temp*
*.docx
*.RData

*slurm*

xdelete/

test.sh
