.Rapp*
.Rproj.user
.Rhistory
.RData
*.Rproj

~$*

Rplots.pdf

.DS_Store

data/*/*
!data/dada2/process/
!data/dada2/analysis/
!data/mothur/crc.taxonomy
!data/*/crc.taxonomy
!data/process/*
!data/metadata/*
!data/default_hyperparameters/*
!data/raw/Raw_hplc_files
!data/raw/scfa_plate_layouts
!README.md

*.fasta

data/references/README.md

mothur*logfile
*temp*
*.RData

*slurm*

xdelete/

test.sh

exploratory/figures/
exploratory/misc/

paper/manuscript.aux
paper/manuscript.html
paper/manuscript.out
